<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <a href="https://www.google.ca/maps/place/Montreal+Neurological+Institute+and+Hospital/@45.5090051,-73.5835941,17z/data=!3m1!4b1!4m5!3m4!1s0x4cc91a37365d4c5f:0xd75187e12c47cf1c!8m2!3d45.5090014!4d-73.5814054?hl=en" target="_blank"><i class="fa fa-map-maker" aria-hidden="true"></i></a> <p>3801 University St, Montreal, QC, H3A 2B4</p>
    
      <div class="social-icons">
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.researchgate.net/profile/{{ site.researchgate }}" target="_blank"><i class="ai ai-researchgate" aria-hidden="true"></i></a>
        <a href="https://schoolar.google.ca/{{ site.googles-cholar }}" target="_blank"><i class="ai ai-google-scholar" aria-hidden="true"></i></a>
        <a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    
    <h2 class="footer-heading"><p>Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</p></h2>
    
    </div>
    
    <!--<h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>-->

  </div>

</footer>
